* {
    font-family: 'Roboto', sans-serif;
}

.AppWindow {
    z-index:1001;
    position: absolute;
    border:1px solid black;
    background: white;
}

.windowTitle {
    cursor: -webkit-grab;
    cursor:-moz-grab;
    cursor: grab;
}

.selectedTool {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

#ToolboxWindow img {
    -webkit-filter: invert(100%);
    filter: invert(100%);

}

#color1, #color2 {
    -webkit-filter: none !important;
    filter: none !important;

}

body, canvas {
    width: 100%;
	height: 100%;
    padding: 0;
	margin: 0;
}

body {
    overflow: hidden;
}

canvas {
    cursor: none;
	background-color: transparent;
	position: absolute;
} 
	    
#splash {
    background-color: #D0F0F5;
	font-family: 'Roboto', sans-serif;
	color:#0377A5;
	font-weight: bold;
	z-index: 1008;
	width: 100%;
	height: 100%;
	position: absolute;
}

#splash div {
    font-size: 48px;
	padding: 0px;
	margin: 0px;
}

.centered {
    margin: auto;
	position: absolute;
	top: 50%; 
    left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: 500px;
	height:500px;
	text-align:center;
}
	
#splash img {
    width:500px;
	height:500px
}
