* {
    font-family: 'Roboto', sans-serif;
}

html, body, #splash {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: #eeeeee;
}

#splash {
    color: #81CD29;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    z-index: 2008;

    img {
        width:412px;
        height:462px;
    }
}

#opacity {
    border: none
}

label, input[type=range] {
    vertical-align:middle;
}

#ToolboxHolder {
    min-width: 75px;
}

.selectedRow {
    font-weight: bolder;
}

.windowfy img {
    width: 48px;
    height: 48px;
}

.selectedTool {
    -webkit-filter: brightness(0.75);
    filter: brightness(0.75)
}

#background {
    background: white;
}

canvas {
    @extend .centered;
    cursor: crosshair;
    background-color: transparent;
    padding: 0;
    overflow: hidden;
}

.centered {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
}

#SettingsWindow {
    width: 300px;
}

#AboutWindow, #HelpWindow {
    width: 375px;
}

#ColorWindow {
    width: 225px;
    height: 225px;
    padding:0px;
    margin:0px;

    canvas {
        cursor: default
    }
}


/*Edited from https://meta.superuser.com/questions/4788/css-for-the-new-kbd-style */
kbd {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 1.4;
    margin: 0 .1em;
    padding: .1em .6em;
    text-shadow: 0 1px 0 #fff;
}

/* Mobile Styles */
.mobile-toolbox {
    background: black;
    width: 100%;
    height: 5%;
    position: absolute;
    z-index: 2000;

    .selected {
        color: blue !important;
        background: white;
    }

    .toolbox-item {
        color: white;
        display: inline-block;
        text-align: center;
        margin: 0px;
        width: 20%;
        height: 100%;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .windowfy, #ToolboxWindow, #ColorWindow, #LayersWindow, #AboutWindow, #HelpWindow, #BrushWindow {
        display: none;
    }
}
