.window {
    z-index:1001;
    position: absolute;
    background-color:#ECECEC;
    border:1px solid black;
    table-layout: fixed;
}

.windowTitle {
    cursor: -webkit-grab;
    cursor:-moz-grab;
    cursor: grab;
}

.selectedLayer {
    background-color:#345678
}

.selected {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
