.CustomContextMenu {
    z-index:1000;
    position:absolute;
    border:1px solid black;
    background:#ECECEC;
    padding:2px;
    font-family:lato;
}

.CustomContextMenu ul
{
    list-style-type: none;
    padding:0;
    margin:0;
}

li.CCM-Item {
    -webkit-transition:background-color .5s, -webkit-transform .5s;
    transition:background-color .5s;
}

li.CCM-Item:hover{
        background: #6C7A89;
}
